<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout">
<head>
<meta charset="utf-8" />
	<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" />
<title>Confirmation</title>
</head>
<body>
	<div layout:fragment="content">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Confirmation</div>
			<div class="panel-body">
				<div class="form-group">
					<label>ID:</label>
					<label th:text="${produit.id}"></label>
				</div>
				<div class="form-group">
					<label>Designation:</label>
					<label th:text="${produit.designation}"></label>
				</div>
				<div class="form-group">
					<label>Prix:</label>
					<label th:text="${produit.prix}"></label>
				</div>
				<div class="form-group">
					<label>Quantité:</label>
					<label th:text="${produit.quantite}"></label>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>